/*--------------------
CSS color changer
-----------------------*/
 
/* default bg color*/
body.green-color-body .woocommerce a.remove:hover,
body.green-color-body .home-callback-area .call-back-form fieldset .wpcf7-submit.btn-send,
body.green-color-body .contact .leave-comments-area .wpcf7-submit.btn-send,
body.green-color-body .contact .leave-comments-area h4:after,
body.green-color-body .contact .contact-us-page h2:after,
body.green-color-body .checkout_coupon p .button:hover,
body.green-color-body form.login input.button:hover,
body.green-color-body .checkout #place_order:hover,
body.green-color-body .woocommerce .checkout-button:hover,
body.green-color-body .woocommerce .cart input.button:hover,
body.green-color-body ul.products a.added_to_cart.wc-forward:hover,
body.green-color-body ul.products li.product .add_to_cart_button:hover,
body.green-color-body ul.products li.product .onsale,
body.green-color-body .error-page-area .error-page,
body.green-color-body .error-page-area .error-page-message .home-page a,
body.green-color-body .call-top-action,
body.green-color-body #scrollUp,
body.green-color-body .header-top-area .header-top-left ul li i,
body.green-color-body .header-top-area .header-top-right ul li i, 
body.green-color-body .preview-2 .nivo-directionNav a.nivo-prevNav:before,
body.green-color-body .preview-2 .nivo-directionNav a.nivo-prevNav:hover:before,
body.green-color-body .preview-2 .nivo-directionNav a.nivo-nextNav:before,
body.green-color-body .preview-2 .nivo-directionNav a.nivo-nextNav:hover:before,
body.green-color-body .slider-area .slider-1 div.slider-botton ul li.acitve a,
body.green-color-body .slider-area .slider-2 div.slider-botton ul li.acitve a,
body.green-color-body .slider-area .slider-1 div.slider-botton ul li a:hover,
body.green-color-body .slider-area .slider-2 div.slider-botton ul li a:hover,
body.green-color-body .home-about-area .about-content-area .botton-area a,
body.green-color-body .home-page-core-activities-area .home-activities-area .single-activities .media .pull-left a,  
body.green-color-body .home-faq-area .faq-image-area a img:hover,
body.green-color-body .home-team-area .total-team .owl-controls .owl-pagination .owl-page span,
body.green-color-body .home-callback-area .call-back-content h2:after,
body.green-color-body .home-callback-area .call-back-form fieldset .form-group button.btn-send,
body.green-color-body .home-testimonial-area .total-testimonial .home-testimonial .owl-controls .owl-pagination .owl-page span,
body.green-color-body .total-blog-area .blog-sidebar-area .single-sidebar h2:after,
body.green-color-body .total-blog-area .single-blog-post h2:after,
body.green-color-body .total-blog-area .blog-sidebar-area .single-sidebar .sidebar-testimonial .owl-controls .owl-pagination .owl-page span,
body.green-color-body .total-blog-area .blog-sidebar-area .single-sidebar .sidebar-testimonial .single-testimonial p:after,
body.green-color-body .blog-sidebar-area .single-sidebar h2:after,
body.green-color-body .our-project-one .pagination-area ul li.active a,
body.green-color-body .our-project-two .single-project-two .single-project-two-details h3 a:hover,
body.green-color-body .our-project-two .single-project-two .single-project-two-details h3 a:after,
body.green-color-body .news-page-area .news-main-content .single-news-area .news-featured-image .date-area,
body.green-color-body .news-page-area .sidebar-area .single-sidebar h2:after,
body.green-color-body .news-page-area .news-main-content .pagination-area ul li.active a,
body.green-color-body .single-news-page-area .single-news-page .news-featured-image .date-area,
body.green-color-body .single-news-page-area .single-news-page h3 a:after,
body.green-color-body .news-page-area .sidebar-area .single-sidebar .popular-tags ul li:hover,
body.green-color-body .single-news-page-area .content-info .blog-content-share-social-icons ul li a:hover,
body.green-color-body .single-news-page-area .leave-comments-area fieldset .btn-send,
body.green-color-body .contact-us-page-area .contact-us-page h2:after,
body.green-color-body .contact-us-page-area .leave-comments-area h4:after,
body.green-color-body .contact-us-page-area .leave-comments-area fieldset .btn-send,
body.green-color-body .home-faq-area .faq-area h2:after,
body.green-color-body .news-page-area .news-main-content .pagination-area ul li a:hover,
body.green-color-body .our-project-one .pagination-area ul li a:hover,
body.green-color-body .home-news-area .total-homenews .single-news .news-image .news-date,
body.green-color-body .site-section-area h2:after {
  background: #197519 !important;
}
/* default color*/
body.blue-color-body .woocommerce a.remove,
body.green-color-body footer .footer-top-area .main-footer .widget_nav_menu .single-footer ul li i,
body.green-color-body .home-news-area .total-homenews .single-news h3 a:hover, 
body.green-color-body .home-about-area .about-content-area h2 em, 
body.green-color-body .home-team-area .total-team .single-team .team-details h3 a:hover, 
body.green-color-body .home-counter-down-title h2 em, 
body.green-color-body .contact .contact-box .single-contact-box p i, 
body.green-color-body .lost_password a, 
body.green-color-body .woocommerce-info:before, 
body.green-color-body .woocommerce-info a, 
body.green-color-body .woocommerce table.shop_table td a:hover, 
body.green-color-body ul.products li.product h3:hover, 
body.green-color-body .woocommerce-Price-amount, 
body.green-color-body .woocommerce table.shop_table td a:hover, 
body.green-color-body .woocommerce ul.products li.product h3:hover, 
body.green-color-body .products  li .star-rating span:before,
body.green-color-body .inner-page-header .header-page-locator ul li,
body.green-color-body .main-header-area .search-area #custom-search-input button,
body.green-color-body footer .footer-top-area .footer-top h2,
body.green-color-body footer .footer-top-area .main-footer .footer-two ul li i,
body.green-color-body footer .footer-top-area .main-footer .single-footer .footer-social-media-area ul li a,
body.green-color-body footer .footer-top-area .main-footer .footer-three ul li i,
body.green-color-body #scrollUp,
body.green-color-body .service-area .single-service .media .pull-left a span,
body.green-color-body .service-area .single-service .media .media-body .read-more a i,
body.green-color-body .home-about-area .about-content-area h2 span,
body.green-color-body .home-counter-down-area .home-counter-down-title h2 span,
body.green-color-body .home-counter-down-area .ab-count .about-counter-list p,
body.green-color-body .home-team-area .total-team .single-team .team-details p,
body.green-color-body .home-testimonial-area .total-testimonial .home-testimonial .single-testimonial .details h3,
body.green-color-body .total-blog-area .blog-sidebar-area .single-sidebar .sidebar-category ul li a:before,
body.green-color-body .total-blog-area .blog-sidebar-area .single-sidebar .sidebar-testimonial .single-testimonial h3,
body.green-color-body .blog-sidebar-area .single-sidebar .sidebar-category ul li a:hover,
body.green-color-body .blog-sidebar-area .single-sidebar .sidebar-category ul li a:before,
body.green-color-body .news-page-area .sidebar-area .single-sidebar .sidebar-recent-post .media-body .posted-date a,
body.green-color-body .news-page-area .news-main-content .single-news-area ul li span,
body.green-color-body .news-page-area .sidebar-area .single-sidebar .sidebar-search button,
body.green-color-body .single-news-page-area .single-news-page ul li span,
body.green-color-body .single-news-page-area .content-info .blog-content-share-social-icons ul li a,
body.green-color-body .single-news-page-area .author-comment .single-author-comment .media .media-body ul li.right i,
body.green-color-body .single-news-page-area .author-post .single-author-post .media .media-body h4.media-heading,
body.green-color-body .single-news-page-area .author-comment .single-author-comment .media .media-body h4.media-heading,
body.green-color-body .contact-us-page-area .contact-box .single-contact-box p i,
body.green-color-body .about-page-content .feature-image .about-main-content h4,
body.green-color-body .about-page-content .about-service .single-about-services .service-top ul li a span,
body.green-color-body .service-area .single-service .media .media-body h4.media-heading a:hover,
body.green-color-body .about-page-content .about-service .single-about-services .service-top ul li a:hover {
  color: #197519;
}
/* hover bg color*/
body.green-color-body .home-callback-area .call-back-form fieldset .wpcf7-submit.btn-send:hover,
body.green-color-body .contact .leave-comments-area .wpcf7-submit.btn-send:hover,
body.green-color-body .error-page-area .error-page-message .home-page a:hover,
body.green-color-body .call-top-action .subscribe-now a:hover,
body.green-color-body footer .footer-top-area .main-footer .single-footer .footer-social-media-area ul li a:hover, 
body.green-color-body .home-about-area .about-content-area .botton-area a:hover,
body.green-color-body .home-callback-area .call-back-form fieldset .form-group button.btn-send:hover,
body.green-color-body .total-blog-area .single-blog-post .download a:hover,
body.green-color-body .single-news-page-area .leave-comments-area fieldset .btn-send:hover,
body.green-color-body .contact-us-page-area .leave-comments-area fieldset .btn-send:hover {
  background: #145D14 !important;
}
body.green-color-body .news-page-area .sidebar-area .single-sidebar .sidebar-recent-post .media-body .posted-date a:hover {
  color: #145D14;
}
/* border color*/
body.green-color-body .woocommerce-info,
body.green-color-body .slider-area .slider-1 div.slider-botton ul li.acitve a,
body.green-color-body .slider-area .slider-2 div.slider-botton ul li.acitve a,
body.green-color-body .slider-area .slider-1 div.slider-botton ul li a,
body.green-color-body .slider-area .slider-1 div.slider-botton ul li a:hover,
body.green-color-body .slider-area .slider-2 div.slider-botton ul li a,
body.green-color-body .slider-area .slider-2 div.slider-botton ul li a:hover,
body.green-color-body .service-area .single-service .media .media-body .read-more a:hover,
body.green-color-body #scrollUp,
body.green-color-body .total-blog-area .single-blog-post .download a,
body.green-color-body .news-page-area .sidebar-area .single-sidebar .popular-tags ul li:hover,
body.green-color-body .news-page-area .news-main-content .pagination-area ul li a,
body.green-color-body .call-top-action .subscribe-now a:hover,
body.green-color-body footer .footer-top-area .main-footer .single-footer .footer-social-media-area ul li a:hover,
body.green-color-body .single-news-page-area .single-blog-content blockquote,
body.green-color-body .single-news-page-area .content-info .blog-content-share-social-icons ul li a:hover,
body.green-color-body .our-project-one .pagination-area ul li a {
  border-color: #197519;
}
/* bg rgb color*/
body.green-color-body .home-team-area .total-team .single-team .overley:after,
body.green-color-body .home-news-area .total-homenews .single-news .news-image a:after,
body.green-color-body .our-project-one .project-content-area .single-project-one .project-feature-image .overley,
body.green-color-body .our-project-two .single-project-two .project-two-featured-image .overley {
  background: rgba(25, 117, 25, 0.5);
}

/* Custom */
body.green-color-body .sidebar-area .single-sidebar ul li a:hover,
body.green-color-body .sidebar-area .product-categories li a:before, 
body.green-color-body .sidebar-area .widget_archive ul li a:before, 
body.green-color-body .sidebar-area .widget_nav_menu ul li a:before, 
body.green-color-body .sidebar-area .widget_pages ul li a:before, 
body.green-color-body .sidebar-area .widget_categories ul li a:before, 
body.green-color-body .sidebar-area .widget_meta ul li a:before, 
body.green-color-body .sidebar-area .widget_recent_comments #recentcomments li:before, 
body.green-color-body .sidebar-area .widget_recent_entries ul li a:before,
body.green-color-body .sidebar-area .widget_search .search-form i.fa-search,
body.green-color-body .news-page-area .news-main-content .single-news-area h3 a:hover {
    color: #197519;
}
body.green-color-body .news-page-area .news-main-content .pagination-area .nav-links a{
	border-color:#197519;
}
body.green-color-body .news-page-area .news-main-content .pagination-area .nav-links a:hover,
body.green-color-body .news-page-area .news-main-content .pagination-area .nav-links span.current{
	background: #197519;
	border-color:#197519;
}
body.green-color-body .sidebar-area .widget_tag_cloud .tagcloud ul li:hover{
  background: #197519;
  border-color:#197519;
}

body.green-color-body .home-faq-area .faq-area .panel-group .panel-default .panel-heading h4.panel-title a{
    background: #197519;
}
body.green-color-body .home-faq-area .faq-area .panel-group .panel-default .panel-heading h4.panel-title a:hover{
  background: #197519 !important;
}
body.green-color-body .project-one .project-content-area .single-project-one .project-feature-image .overley {
    background: rgba(25, 117, 25, 0.9);
}

body.green-color-body .main-header-area .main-menu ul li:hover a {
    color: #197519;
} 
body.green-color-body .main-header-area .main-menu ul li ul li:hover {
    background:#197519;
}
